page-carro,
.carro {
    background-color:#40E0D0;

    .img{
      height: 20%;
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto
    }

    .label{
      color:black;
    }
}

